/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.individual, .group, .family, .student, .teacher {
  height: 80vh;
  width: 20%;
  background-size: cover;
}

.bg-light {
  width: 76%;
  height: 25%;
  opacity: 0.9;
  position: relative;
  margin: auto;
  text-align: left;
}

.profil {
  font-size: 1.0rem;
  text-transform: uppercase;
  line-height: 0;
  margin-top: 25%;
  margin-left: 10%;
}

.title {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "lovelo";
  margin-top: 20px;
  margin-left: 10%;
}

.text:hover {
  color: #d8383f;
}

.individual {
  background-image: url(../img/Individuel.jpg);
}

.group {
  background-image: url(../img/Groupe.jpg);
}

.family {
  background-image: url(../img/Famille.jpg);
}

.student {
  background-image: url(../img/Etudiant.jpg);
}

.teacher {
  background-image: url(../img/Enseignant.jpg);
}

/* =============== Second Part ============================================== */

.visit {
  height: 140px;
  background-color: #1D1D1E;
}

.visit-parcours {
  color: white;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3%;
  font-family: "Biko";
  padding-top: 5%;
  font-weight: bold;
}

.icon-pba {
  width: 5%;
  position: absolute;
  left: 32%;
  top: 35%;
}

.icon-triangle {
  width: 15%;
  position: relative;
  left: 42.5%;
}

/* =============== Third Part =============================================== */

.BG, .grand-bleu, .love, .table, .angel, .beast, .blonde, .architecture {
  height: 75vh;
  width: 25%;
  background-size: cover;
}

.BG {
  background-image: url(../img/Beaux-Gosses.jpg);
}

.grand-bleu {
  background-image: url(../img/Le-grand-bleu.jpg);
}

.love {
  background-image: url(../img/Love-etc.jpg);
}

.table {
  background-image: url(../img/A-Table-!.jpg);
}

.angel {
  background-image: url(../img/Anges-et-Demons.jpg);
}

.beast {
  background-image: url(../img/Histoires-de-betes.jpg);
}

.blonde {
  background-image: url(../img/Blondes-et-brunes.jpg);
}

.architecture {
  background-image: url(../img/Ar-t-chitecture.jpg);
}

.bg-white {
  width: 70%;
  height: 35%;
  position: relative;
  margin: auto;
  text-align: left;
}

.time {
  margin-left: 7%;
  color: #868687;
  font-size: 16px;
  position: relative;
  bottom: 16%;
}

.clock {
  width: 15%;
}

.min {
  font-size: 18px;
  font-weight: bold;
}

.time:hover {
  color: #d8383f;
}

/* =============== Tourth Part =============================================== */

.incontournable {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3%;
  font-family: "Lovelo";
  padding-top: 4%;
  font-weight: bold;
}

.bg-oeuvre {
  width: 70%;
  height: 35%;
  background-color: white;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.oeuvre1, .oeuvre2, .oeuvre3 {
  width: 20%;
  height: 65vh;
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 5%;
  background-size: cover;
}

.text-oeuvre {
  text-align: right;
  margin-right: 10%;
}

.time-oeuvre {
  font-size: 50px;
  font-family: "Lovelo";
}

.min-oeuvre {
  font-size: 40px;
  font-family: "biko";
  font-weight: bold;
}
.title-oeuvre {
  line-height: 15px;
}
.oeuvre1 {
  background-image: url(../img/4-oeuvres.jpg);
}

.oeuvre2 {
  background-image: url(../img/8-oeuvres.jpg);
}

.oeuvre3 {
  background-image: url(../img/12-oeuvres.jpg);
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
