/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  font-family : 'lovelo';
}



.individual, .group, .family, .student, .teacher {


/*navbar*/

  nav{
    background-color: #1d1d1e;
  }

  nav .titre img{
    width : 100%;
  }
  nav a{
    font-family: 'lovelo', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: red;
}

.nav-item a.nav-link:hover{
    color: #d8383f!important;
    transition: 0.5s;
}


  nav .searchinput form input{
    position: relative;
    border-radius: 0px;
    background-color: #1d1d1e;
    border : 4px solid white;
  }

  nav .searchinput form button{
    position: absolute;
    margin-left: -40px;
    margin-top: 4px;
    color : white;
    background-color: #1d1d1e;
    border : none;
  }

  nav .searchinput form input:hover{
    border : 4px solid red;
  }

  nav .btn .btn{
    border: 4px solid white;
    background-color: black;
    border-radius: 0px;
    width : 100px;
    height : 35px
    font-family: 'Open Sans', sans-serif;
    font-size: 17px
    text-align :center;
    font-weight: bold;
    background-color: #1d1d1e;
  }

  nav .btn .btn:hover{
    border: 4px solid #d8383f!important;
  }

  nav .searchinput form button:hover{
    color : #d8383f!important;
    background-color: #1d1d1e;;
  }

  nav .searchinput form button:hover{
    color : #d8383f!important;
    background-color: #1d1d1e;
    transition: 0.6s;
  }

  nav .dropdown a{
    font-size: 15px;
    font-weight: lighter;
    text-transform: lowercase;
    border-radius: 0px;
  }

  nav .dropdown-menu{
    background-color: #1d1d1e;
    border-radius: 0px;
  }

  nav .dropdown-menu a:hover{
    color : #d8383f!important;
    background-color: #1d1d1e;
  }

/*1st part*/

  .container-fluid .menu p{
    margin-top: 150px;
    padding : 90px;
    border : 15px solid white;
    border-left : none;
    border-right: none;
    color : white;
    font-size: 20px;
    margin-left: 45px;
  }

  .container-fluid .row img{
    width:100%;
  }

  .container-fluid .menu i{
    font-size: 40px;
  }
  .container-fluid .menu span{
    font-size: 40px;
    font-weight: bold;
  }

  .container-fluid .menu a:hover{
    text-decoration: none;
  }

  .container-fluid .menu i:hover{
    color : #d8383f;
    transition: 0.5s
  }

  .container-fluid .downarrow i{
    margin:auto;
  }

  .container-fluid .downarrow i:hover{
    color: #d8383f!important;
    transition: 0.5s;
  }

/*Carousel part*/

  .carousel-inner .carousel-caption{
    margin-top: 150px;
    padding : 90px;
    border : 15px solid white;
    border-left : none;
    border-right: none;
    color : white;
    font-size: 20px;
  }

  .carousel-inner .carousel-item h1 i:hover{
    color: #d8383f!important;
    transition: 0.5s;
  }

  .carousel-inner .carousel-item h1{
    font-weight: bold;
    font-size: 50px;
  }

  .carousel-inner .carousel-item span{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 40px;
  }

  /*4 keys*/

  .presentoeuvre{
    background-color: #1d1d1e;
  }

  .presentoeuvre h1,p{
    font-weight: bold;
    font-size: 35px;
  }

  .presentoeuvre p{
    font-size:20px;
  }

/*Oeuvres*/

.bosch, .madone, .miroir, .perspective{

  height: 80vh;
  background-size: cover;
}

.container-fluid .text{
  margin-top: 250px;
  margin-left: 70px;
  width : 60%;
  color : black;
  background-color: white;
  padding: 5px 5px 5px 5px;
}

.container-fluid .text .title{
  font-size: 30px;
  width : 60%;
  line-height: 30px;
}


.title {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "lovelo";
  margin-top: 20px;
  margin-left: 10%;

.container-fluid .text .profil{
  font-size: 20px;
  width : 65%;
  line-height: 30px;

}


.bosch{
  background-image: url(../img/LCDL.jpg);
}

.madone{
  background-image: url(../img/EPM.jpg);




       width: 100%;
       padding: 85px 90px 0px;
       background-color: #1D1D1E;
       color: #FFF;
   }
 .footer1 p, li {

font-size: 11px;
line-height: 1.8em;
}
.footer .subtitle{
vertical-align: baseline;
font-size: 21px !important;
letter-spacing: 0.07em;
margin-bottom: 15px !important;
margin-top: 0px !important;
}
a{
  color: inherit;
}
.info p{
  line-height: 0.3em;
  font-size: x-small;
}
a:hover{
  color:#D8383F;
  text-decoration: none;
}
.mecenat{
  justify-content: right;
}
.mecenat p{
margin-top: 14px;
vertical-align: top;
margin-right: 35px;
font-size: 9px;
color:#7B7C7E;
}
.contact{     /* footer */
  margin-top: ;
border-top: 1px solid white;
padding-top: 20px;
width: 98%;


}


/* =============== Second Part ============================================== */

.miroir{
  background-image: url(../img/LVLT.jpg);
}


.perspective{
  background-image: url(../img/LFH.jpg);
}


.visit-parcours {
  color: white;
  font-size: 24px;
  text-align: center;

/*MORE*/

.social{

  text-transform: uppercase;
  background-color: #1d1d1e;
  width : 100%;
  color : white;
  display: flex;
  flex-direction: column;
}

.social a{
  color : white;
  border: 3px solid white;
  margin : 40px 0px 10px 0px;
  padding: 20px 50px 20px 50px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
}


.icon-pba {
  width: 5%;
  position: absolute;
  left: 32%;
  top: 35%;
}

.icon-triangle {
  width: 15%;
  position: relative;
  left: 42.5%;
}

/* =============== Third Part =============================================== */

.BG, .grand-bleu, .love, .table, .angel, .beast, .blonde, .architecture {
  height: 75vh;
  width: 25%;
  background-size: cover;
}

.BG {
  background-image: url(../img/Beaux-Gosses.jpg);
}

.grand-bleu {
  background-image: url(../img/Le-grand-bleu.jpg);
}

.love {
  background-image: url(../img/Love-etc.jpg);
}

.table {
  background-image: url(../img/A-Table-!.jpg);
}

.angel {
  background-image: url(../img/Anges-et-Demons.jpg);
}

.beast {
  background-image: url(../img/Histoires-de-betes.jpg);
}

.blonde {
  background-image: url(../img/Blondes-et-brunes.jpg);
}

.architecture {
  background-image: url(../img/Ar-t-chitecture.jpg);
}

.bg-white {
  width: 70%;
  height: 35%;
  position: relative;
  margin: auto;
  text-align: left;
}

.time {
  margin-left: 7%;
  color: #868687;
  font-size: 16px;
  position: relative;
  bottom: 16%;
}

.clock {
  width: 15%;
}

.min {
  font-size: 18px;
  font-weight: bold;
}

.time:hover {
  color: #d8383f;
}

/* =============== Tourth Part =============================================== */

.incontournable {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3%;
  font-family: "Lovelo";
  padding-top: 4%;
  font-weight: bold;
}

.bg-oeuvre {
  width: 70%;
  height: 35%;
  background-color: white;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.oeuvre1, .oeuvre2, .oeuvre3 {
  width: 20%;
  height: 65vh;
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 5%;
  background-size: cover;
}

.text-oeuvre {
  text-align: right;
  margin-right: 10%;
}

.time-oeuvre {
  font-size: 50px;
  font-family: "Lovelo";
}

.min-oeuvre {
  font-size: 40px;
  font-family: "biko";
  font-weight: bold;
}

.title-oeuvre {
  line-height: 15px;
}

.oeuvre1 {
  background-image: url(../img/4-oeuvres.jpg);
}

.oeuvre2 {
  background-image: url(../img/8-oeuvres.jpg);
}

.oeuvre3 {
  background-image: url(../img/12-oeuvres.jpg);
}

/* =============== last Part ================================================ */

.bandeau-mobile {
  position: relative;
  min-height: 150px;
  width: 100%;
  background-color: #D8383F;
  color: #FFF;
  text-align: center;
}

.bandeau-mobile p {
  font-size: 24px;
  margin-left: 42%;
  vertical-align: middle;
  padding-top: 51px;
  text-align: left;
  padding-bottom: 35px;
  text-transform: uppercase;
  line-height: 25px;
}

.bandeau-mobile .title-bandeau .app-mobile {
  font-family: "lovelo";
}

.icon-tablet, .icon-mobile {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-tablet:hover, .icon-mobile:hover {
  background-repeat: no-repeat;
  background-position: center;
}

.icon-tablet {
  width: 100%;
  height: 100%;
  background-image: url(../img/tab.png);
}

.icon-mobile {
  width: 100%;
  height: 100%;
  background-image: url(../img/mobile.png);
}

.icon-tablet:hover {
  width: 100%;
  height: 100%;
  background-image: url(../img/tab-hover.png);
}

.icon-tablet:hover {
  width: 100%;
  background-image: url(../img/mobile-hover.png);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 576px) {}

@media (min-width: 768px) {}

.social .clone{
  padding-left : 133px;
}
.social .insta{
  border: none;
  text-align: center;
  font-size: 25px;
}

.social a:hover{
  color : #d8383f;
  transition: 0.5s;
  text-decoration : none;
  border-color: #d8383f;
}

.social .insta:hover{
  color :white;
}

/*5pictures galery*/




/*5pictures galery*/


.container-fluid .lastgalery a img:hover{
  background-color: red!important;
  transition: 0.8s;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 980px){

/*NAV*/
  nav .navbar-nav .nav-item a{
    text-align: center;
    margin-top: 20px;
    border : 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  nav .form-inline input, .logo{
    display:none;
  }

  nav .searchinput{
    display: none;
  }

  nav .btn{
    margin-left : 95px;
  }

  /*carousel*/
  .container-fluid .imgback{
    height : 95vh;
  }
  .container-fluid .menu{
    flex-direction: column;
    height : 2%;
    font-size: 20px;
  }
  .container-fluid .menu i{
    font-size: 30px;
  }
  .container-fluid .menu span{
    font-size: 20px;
  }

  .container-fluid .menu p{
    border : 10px solid white;
    margin : 0;
    border-left: none;
    border-right:none;
    padding : 10px;
}

.container-fluid .downarrow{
  display : none;
}

/*carousel*/

.carousel img{
  height : 65vh;
}
/*theme*/

.container-fluid .text{
  margin-top: 80px;
  margin-left: 70px;
  width : 60%;
  color : black;
  background-color: white;
  padding: 5px 5px 5px 5px;
}

.container-fluid .text .title{
  font-size: 30px;
  width : 60%;
  line-height: 30px;
}

.container-fluid .text .profil{
  font-size: 20px;
  width : 65%;
  line-height: 30px;
}

/*social*/

.social{
  text-transform: uppercase;
  background-color: #1d1d1e;
  width : 100%;
  color : white;
  display: flex;
  flex-direction: column;
}

.social a{
  color : white;
  border: 3px solid white;
  margin : 40px 0px 10px 0px;
  padding: 20px 20px 20px 50px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 4px;
  text-align:center;

}

.social .clone{
  padding-left : 3px;
}
.social .insta{
  border: none;
  text-align: center;
  font-size: 20px;
}

/*lastgalery*/

.container-fluid .lastgalery{
  width : 100%;
}

}

@media only screen and (min-width: 981px) and (max-width:1280px){

.container-fluid .lastgalery .lastone{
  display: none;
}

.container-fluid .lastgalery{
  width : 25%;
}

.container-fluid .text{
  margin-left: 70px;
  width : 80%;
  color : black;
  background-color: white;
  padding: 5px 5px 5px 5px;
}

.container-fluid .text .title{
  font-size: 30px;
  width : 60%;
  line-height: 30px;
}

.container-fluid .text .profil{
  font-size: 20px;
  width : 65%;
  line-height: 30px;
}

}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
